{% extends "template.tpl.html" %}

{% block title %}
Página não encontrada - L2 Kael
{% endblock %}

{% block content %}
<section class="content-wrap full youplay-404">
    <!-- Banner -->
    <div class="youplay-banner banner-top">
        <div class="image" style="background-image: url('images/game-dark-souls-ii-10-1680x1050.jpg')">
        </div>

        <div class="info">
            <div>
                <div class="container align-center">
                    <h2 class="h1">{{ code }}</h2>
                    <h3>Ops.. Aconteceu um erro que nós não estavamos esperando, por favor fale com a equipe!</h3>
                    <button class="btn btn-lg" href="javascript:;" onclick="javascript:history.back()">Voltar a página anterior</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->
</section>
{% endblock %}
